<div id="homeContainer">
  <div class="container">
    <h1 class="page-title semi-bold">
      NewsMachin,<br />
      <span class="subtitle" *ngIf="!currentUser">Votre site d'actualités</span>
      <span class="subtitle" *ngIf="currentUser">Le site d'actualité de {{currentUser.firstname}} {{ currentUser.lastname }}</span>
    </h1>
  </div>

  <div class="container" *ngIf="currentUser">
    <div class="text-right">bookmarks ({{currentUser.bookmarks.length}})</div>
    <span class="bookmark" *ngFor="let bookmark of currentUser.bookmarks" (click)="changeSelectedSource(bookmark.id)">{{bookmark.name}}</span>
    
  </div>

  <div class="container mb-7">
    <div class="input-container">
      <label for="source">Source</label>
      <select id="source" [ngModel]="selectedSource.id" (change)="changeSelectedSource($event.target.value)">
        <option disabled>Choisir une Source</option>
        <option *ngFor="let source of sources" [value]="source.id">{{ source.name }}</option>
      </select>
    </div>
    <div class="input-container">
      <label for="keyword">Mot-clé</label>
      <input id="keyword" type="text" [(ngModel)]="keyword" />
    </div>

    <div class="text-center">
      <button class="p-1 mr-1" (click)="search()">
        <span *ngIf="!loading">Rechercher</span>
        <span *ngIf="loading">Recherche…</span>
      </button>
      <button class="p-1 ml-1" (click)="addToBookmarks()" *ngIf="currentUser && isInBookmark() === false">
        <span *ngIf="!adding">Ajouter aux bookmarks</span>
        <span *ngIf="adding">Ajout…</span>
      </button>
      <button class="p-1 ml-1" (click)="removeFromBookmarks()" *ngIf="currentUser && isInBookmark() === true">
        <span *ngIf="!removing">Supprimer le bookmark</span>
        <span *ngIf="removing">Suppression…</span>
      </button>
    </div>
  </div>

  <div *ngIf="articles && articles.length === 0">Pas de résultat</div>

  <div class="container cards-container" *ngIf="articles && articles.length > 0">
    <div class="card-item mb-7" *ngFor="let article of articles">
      <img [src]="article.urlToImage" />
      <div class="content p-2">
        <h3 class="semi-bold mb-1">{{article.title}}</h3>
        <p class="card-description mb-2">{{article.description}}</p>
        <div class="card-bottom-container">
          <p class="card-date">{{moment(article.publishedAt).format('D/MM/YYYY')}}</p>
          <div *ngIf="currentUser" class="bold">
            <a [href]="article.url" class="booking-link">
              Lire l'article
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>
